<!-- Programs Section -->
<section id="programs" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Programs</h2>
        <h3 class="section-subheading text-muted">
          Our programs are designed to help kids flourish
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="img/pillar-1.jpg" class="img-circle" style="width: 40%" />
        <h4 class="service-heading">PRESCHOOL PROGRAM</h4>
        <h5>2.5 years -3 year olds (Caterpillars)</h5>
        <p class="text-muted">
          ​This class introduces letters, numbers, colors and shapes to the
          children. Lesson plans include language development, learning the
          alphabet, recognizing numbers and learning to count, music and
          movement, creative art, story time. The center use blocks, puzzles,
          creative art, and books. At this stage, toddlers are becoming more
          independent and our teachers promote practicing life skills like hand
          washing, picking up toys and sharing with friends. Children are
          introduced to cognitive skills and practice making decisions. Science
          and discovery activities stimulate curiosity as the children learn
          valuable lessons about themselves and the world around them. Art and
          music activities will be sued to help the children develop individual
          expressions.
        </p>
      </div>
      <div class="col-md-4">
        <img src="img/pillar-2.jpg" class="img-circle" style="width: 40%" />
        <h4 class="service-heading">PRESCHOOL PROGRAM</h4>
        <h5>3- 4 year olds (Butterflies)</h5>
        <p class="text-muted">
          In this class the focus is placed on language arts and math
          fundamentals to promote excitement about learning new concepts. For
          these active learners our lesson plans are filled with activities to
          help each child grow socially, intellectually and physically. Language
          development includes story time and puppet play to enrich their
          imaginations and teach listening and verbal interaction in the group
          setting. The children will start to write short sentences as well as
          words. In math, they will go beyond just counting and learn to group
          and recognize patterns.
        </p>
      </div>
      <div class="col-md-4">
        <img src="img/pillar-3.jpg" class="img-circle" style="width: 40%" />
        <h4 class="service-heading">PRE KINDERGARTEN</h4>
        <h5>4 -5 Year olds (Eagles)</h5>
        <p class="text-muted">
          This class is considered a Kindergarten Prep Class. It promotes
          cooperative play to learn problem solving through lesson plans that
          teach the children to use independent reasoning and develop manners
          and social skills. Our teachers introduce the structure of a classroom
          setting and concentrate on early reading and math skills. Language
          lessons include story time followed by content questions. Phonics and
          writing are stressed. In math, adding and subtracting are introduced
          along with graphing, grouping, sorting and comparisons. In Science and
          Discovery, they will learn about animals, the earth and outer space,
          the weather, magnets and magnifying glasses, and the five senses.
          Social studies teach the children about their community and different
          cultures.
        </p>
      </div>
    </div>
    <hr />
    <div class="row text-center">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="service-heading">CHILD SAFTEY</h4>
            <p class="text-muted">
              Grow and Blossom Preschool Center is committed in providing a
              secure and safe environment for your child as well as peace of
              mind for the family. Entrances to the program are controlled by
              codes issued only to families and staff. A surveillance camera
              will also monitor the center's interior and exterior. Children are
              under the constant supervision of staff that is recognized as the
              first and most effective source of our security.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="service-heading">MEALS</h4>
            <p class="text-muted">
              A nutritious breakfast, lunch, mid-afternoon snack are served each
              day. Monthly menus are posted on bulletin boards and will be left
              in your child's cubby. If a child requires a special diet due to
              food allergies, a doctor’s written statement is needed, along with
              a list of allowed and prohibited foods. We will make every effort
              to accommodate religious and cultural dietary requirements. Please
              discuss your child’s needs with the administrative staff. Meals
              are served family style in the classroom at a common table and
              provide rich opportunities for learning and socializing.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="service-heading">HOLIDAY AND TRAINING CALENDAR</h4>
            <p class="text-muted">
              Grow and Blossom Preschool Center is closed for selected holidays
              and three days of in-service training each year. The training days
              are scheduled within the year to coincide with public school’s
              staff development days and specific dates will be posted and
              families informed with sufficient time to make alternative
              arrangements.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="service-heading">
              WEATHER AND EMERGENCY RELATED CLOSINGS
            </h4>
            <p class="text-muted">
              Grow and Blossom Preschool Center will follow the Federal
              Government schedule for any weather and emergency closings. If
              conditions or events require closing during a day of operations,
              parents will be contacted directly; however, children will remain
              in care under supervision in a safe setting until picked up by an
              authorized adult. In the event that the center must be evacuated
              due to an environmental or building emergency, teachers and
              children will be transported to Calvary Road Baptist Church at
              6811 Beulah St, Alexandria, VA 22310.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="service-heading">
              DAILY BEFORE AND AFTER SCHOOL PROGRAM
            </h4>
            <p class="text-muted">
              ​We offer daily before and after care for school age students.<br /><br /><br />
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="service-heading">AMHARIC LANGUGE CLASSES</h4>
            <p class="text-muted">
              Saturday language classes are available. We teach Amharic
              (Ethiopian language) every Saturday morning. For more info call or
              send us an email.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
